<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', path='/css/index.css') }}"
      rel="stylesheet"
    />
    <title>{% block title %}Default Title{% endblock %}</title>
  </head>
  <body>
    <header
      class="flex flex-row justify-between items-center py-4 bg-gray-800 text-white px-9"
    >
      <a href="/">My Todo App</a>
      <nav class="">
        <a href="/todo/create">Create Todo</a>
      </nav>
    </header>
    <main class="container mx-auto p-4">
      {% if request.session.get('flash') %}
      <div
        class="bg-green-100 text-green-800 px-6 py-4 rounded mb-6 max-w-4xl mx-auto text-center"
      >
        {{ request.session.pop('flash') }}
      </div>
      {% endif %} {% block content %}
      <!-- Default content can go here -->
      {% endblock %}
    </main>
    <footer
      class="bg-gray-800 text-white text-center py-4 mt-auto fixed bottom-0 w-full"
    >
      <p>&copy; 2025 My Todo App</p>
    </footer>
  </body>
</html>
